.footer {
	margin-left: 10vw;
	margin-right: 10vw;
	margin-bottom: 8em;
	
	transition: transform .25s;
	-moz-transition: transform .25s;
	-webkit-transition: transform .25s;
}

.footer__link {
	font-size: .75em;
	color: #616161;
	color: var(--normal-color-text);
}

@media (min-width: 800px) {
	.sidebar ~ .footer {
		width: calc(70% - 20vw);
	}
}
