.layout--grid {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
}

.layout--grid > * {
	word-break: break-word;
	word-wrap: break-word;
}

.layout--grid > * {
	width: 200px;
	margin: 10px;
}

@media(max-width: 2854px) {
	.layout--grid > .item {
		width: calc(12.5% - 56px);
	}
}

@media(max-width: 2534px) {
	.layout--grid > .item {
		width: calc(14.2% - 56px);
	}
}

@media(max-width: 2214px) {
	.layout--grid > .item {
		width: calc(16.5% - 56px);
	}
}

@media(max-width: 1894px) {
	.layout--grid > .item {
		width: calc(20% - 56px);
	}
}

@media(max-width: 1574px) {
	.layout--grid > .item {
		width: calc(25% - 56px);
	}
}

@media(max-width: 1254px) {
	.layout--grid > .item {
		width: calc(33.3% - 56px);
	}
}

@media(max-width: 934px) {
	.layout--grid > .item {
		width: calc(50% - 56px);
	}
}

@media(max-width: 614px) {
	.layout--grid > .item {
		width: calc(100% - 56px);
	}
}
