.nav {
	width: 80% !important;
	height: auto;
	text-align: center;
	display: block;
	padding: 8px 10%;
	overflow: visible;
	overflow: overlay;
	z-index: 100;
	
	transition: width .25s;
	-moz-transition: width .25s;
	-webkit-transition: width .25s;
}

.nav__item {
	border: none;
	outline: none;
	user-select: none;
	cursor: pointer;
	padding: 0.75em 1.25em;

	transition: box-shadow .25s, background-color .25s, color .25s;
	-moz-transition: box-shadow .25s, background-color .25s, color .25s;
	-webkit-transition: box-shadow .25s, background-color .25s, color .25s;

	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	
	display: inline-block;
	color: #808080;
	color: var(--normal-color-focusable);
	text-decoration: none;
	user-select: none;
	white-space: nowrap;
	margin: 4px;
	width: calc(100% - 8px);
	text-align: left;
}

.nav__item:hover {
	background-color: rgba(255, 255, 255, 0.2);
	color: #000 !important;
	color: var(--normal-color-focus) !important;
	box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.37);
	box-shadow: 0 0.1em 0.3em var(--accent-outline-fade);
}

.nav__item[selected] {
	background-color: #0091EA;
	background-color: var(--accent-background);
	color: #FFF !important;
	color: var(--accent-inverse) !important;
	box-shadow: 0 0.4em 1.2em rgba(0, 72, 117, 0.5);
	box-shadow: 0 0.4em 1.2em var(--accent-outline-fade2);
}

.nav__item > * {
	display: inline;
	vertical-align: middle;
}

.nav__item__icon {
	margin-right: 1em;
}

@media(min-width: 600px) {
	.nav__item {
		width: auto;
		text-align: inherit;
	}

	.nav__item > * {
		margin: 0;
		display: table-cell;
		vertical-align: middle;
	}

	.nav__item__icon {
		margin-right: 0 !important;
		margin-bottom: 0.25em;
	}
}
