.pager {
	height: 350px;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.1);
	background-color: var(--normal-focus);
}

.pager__item {
	height: 350px;
	width: auto;
	margin: 0 8px;
}

.pager__item:first-child {
	margin-left: 0;
}

.pager__item:last-child {
	margin-right: 0;
}
